<main class="main-container">

    {{!--* 1 --}}
    <div>
        <h1>Product List HB</h1>
    </div>
    {{!--* /1 --}}


    {{#if isValid}} {{!-- Si hay productos (documentos) para mostrar --}}




    {{!--* 3 --}}
    <section class="cards-container">



        {{!--* 2 --}}
        <div class="paginate-controls-container">
            <div>
                {{#if prevLink}} {{!-- Si hay pagina previa --}}
                <a href={{prevLink}}>
                    << Back</a>
                        {{/if}}
                        &nbsp;
                        {{currentPage}} /&nbsp;{{totalPages}}
                        &nbsp;
                        {{#if nextLink}}
                        <a href={{nextLink}}> Next >></a>
                        {{/if}}
            </div>
            <div>
                <b>{{totalDocs}}</b> Products Found
            </div>
        </div>
        {{!--* /2 --}}





        {{#each products}} {{!-- por cada documento/producto... --}}

        <div class="card">
            <div class="img-card-container">
                <img src="{{this.thumbnails}}" alt="{{this.title}}">
            </div>
            <ul>
                <li>
                    <h2>{{this.title}}</h2>
                </li>
                <li>
                    <h4><b>Price: </b>${{this.price}}</h4>
                </li>
                <li><b>Description:</b> {{this.description}}</li>
                <li><b>Code:</b> {{this.code}}</li>
                <li><b>Status:</b> {{this.status}}</li>
                <li><b>Stock:</b> {{this.stock}}</li>
                <li><b>Category:</b> {{this.category}}</li>
            </ul>
            <button>Add to Cart</button>
        </div>

        {{/each}}
    </section>
    {{!--* /3 --}}




    {{else}}


    {{!--* 4 --}}
    <h4>No Products</h4>
    <button id="">Back Home</button>
    {{!--* /4 --}}

    {{/if}}

</main>






{{!-- <main class="main-container">
    <div>
        <h1>Product List HB</h1>
    </div>

    <section class="cards-container">
        {{#each products}}
        <div class="card">
            <div class="img-card-container">

                <img src="{{this.thumbnails}}" alt="{{this.title}}">
            </div>
            <ul>
                <li>
                    <h2>{{this.title}}</h2>
                </li>
                <li>
                    <h4><b>Precio: </b>${{this.price}}</h4>
                </li>
                <li><b>Description:</b> {{this.description}}</li>
                <li><b>Code:</b> {{this.code}}</li>
                <li><b>Status:</b> {{this.status}}</li>
                <li><b>Stock:</b> {{this.stock}}</li>
                <li><b>Category:</b> {{this.category}}</li>

            </ul>
        </div>
        {{/each}}
    </section>

</main> --}}