{{!-- //! A ESTA PANTALLA SOLO DEBERIA ENTRAR UN USER ROL USER --}}

<main class="main-container">


    <nav class="nav">
        {{#if user}}

        <div class="user">
            <h2>Welcome {{user.name}}!</h2>
        </div>

        <div>
            <a href="/carts/:cid">Cart</a>
        </div>
        <div>
            <a href="/chat">Go to Chat</a>
        </div>

        <div>
            <a href="/user/current">My Profile</a>
        </div>
        <div>
            <a href="/user/logout">Logout</a>
        </div>




        {{else}}
        <div>
            <a href="/user/login">Login</a>
        </div>
        {{/if}}
    </nav>








    {{!--* 1 --}}
    <div>
        <h1>{{user.name}}, products for you</h1>
    </div>
    {{!--* /1 --}}


    {{#if isValid}} {{!-- Si hay productos (documentos) para mostrar --}}


    {{!--* 3 --}}
    <section class="cards-container">



        {{!--* 2 --}}
        <div class="paginate-controls-container">
            <div>
                {{#if prevLink}} {{!-- Si hay pagina previa --}}
                <a href={{prevLink}}>
                    << Before</a>
                        {{/if}}
                        &nbsp;
                        {{currentPage}} /&nbsp;{{totalPages}}
                        &nbsp;
                        {{#if nextLink}}
                        <a href={{nextLink}}> Next >></a>
                        {{/if}}
            </div>
            <div>
                <b>{{totalDocs}}</b> Products found
            </div>
        </div>
        {{!--* /2 --}}


        {{#each products}} {{!-- por cada documento/producto... --}}

        <div class="card">
            <div class="img-card-container">
                <img src="{{this.thumbnails}}" alt="{{this.title}}">
            </div>
            <ul>
                <li>
                    <h2>{{this.title}}</h2>
                </li>
                <li>
                    <h4><b>Price: </b>${{this.price}}</h4>
                </li>
                <li><b>Description:</b> {{this.description}}</li>
                <li><b>Code:</b> {{this.code}}</li>
                <li><b>Status:</b> {{this.status}}</li>
                <li><b>Stock:</b> {{this.stock}}</li>
                <li><b>Category:</b> {{this.category}}</li>
            </ul>
            <button onclick="addToCart('{{this._id}}')">Add to Cart</button>
        </div>

        {{/each}}
    </section>
    {{!--* /3 --}}



    {{else}}


    {{!--* 4 --}}
    <h4>No Products available to show</h4>
    <button id="">Back Home</button>
    {{!--* /4 --}}

    {{/if}}

</main>
<script src="/js/products.js"></script>