<main class="main-container">
    <div>
        <h1>Lista de Productos</h1>
        <p>CON HANDLEBARS</p>
    </div>

    <section class="cards-container">
        {{#each products}}
        <div class="card">
            <div class="img-card-container">
                <img src="{{this.thumbnail}}" alt="{{this.title}}"></p>
            </div>
            <ul>
                <li>
                    <h2>{{this.title}}</h2>
                </li>
                <li>
                    <h4><b>Precio: </b>${{this.price}}</h4>
                </li>
                <li><b>Descripción:</b> {{this.description}}</li>
                <li><b>Código:</b> {{this.code}}</li>
                <li><b>Status:</b> {{this.status}}</li>
                <li><b>Stock:</b> {{this.stock}}</li>
                <li><b>Categoría:</b> {{this.category}}</li>
            </ul>
        </div>
        {{/each}}
    </section>

</main>